section .header{
	padding: 100px;
}

h3 {
	text-align: center;
}

.Education {
	display: flex;
	align-items: center;
	
}

.About {
	border-style: dotted;
	margin: 0 auto;
	position: relative;
	min-height: 20vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color
}

body{
	width: 90vw;
	min-width: 90vw;
	max-width: 1100px;
	margin: 0 auto;
	font-family: 'Architects Daughter', cursive;
}

.Introduction{
	margin:auto;
	text-align: center;
}


.AboutMeBox{
    width: 100vw;
    margin: 0 auto;
	float: left;
	width: 40%;
	padding: 5%;
}


.EducationBox{
	
    width: 100vw;
    margin: 0 auto;
	float: left;
	width: 40%;
	text-align: center;
}

.EducationList {
    margin: 0 auto;
	float: right;
	width: 50%;
	height:100%;
	background-color: #66d801;
}

.EducationDetails{
    margin: 0 auto;
	float: left;
	width: 50%;
}

.Details, .Information {
	float: left;
	width: 50%;
}

.header {
	margin:auto;
	position: relative;
	min-height: 20vh;
	background-size: cover;
	background-position: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: blue;

}

.header h2{
	font-size: 3em;
	color: white;
}

.header h3{
	color: white;
}

.btn{
	text-decoration:none;
	padding: 1em;
	display: inline-block;
	border-radius: 2em;
	background-color: white;
	color: black;
}

.btn1{
	text-decoration:none;
	padding: 1em;
	display: inline-block;
	border-radius: 2em;
	background-color: black;
	color: white;
}

hr.line1 {
	border-top: 8px solid blue;
	border-radius: 5px;
}

textarea{
	resize: none;
	height: 100px;
	width: 200px;
}

.form {
	display: flex;
	justify-content: center;
}